<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hava's Lab Friends</title>
</head>
<body>
    <h1>Hello! These are my lab friends :)</h1>
    
    <h2>Daffa Muhammad Rayhan</h2>
    
    <img src="http://www.about.tarung2017.com/foto/109.jpg" alt="Daffa's Image">
    
    <article>NPM : {{ npm }}</article>
    <article>Age : {{ age }}</article>
    <article>College : {{ uni }}</article>
    <article>Major : {{ major }}</article>
    <article>Hobby : {{ hobby }}</article>
    <article>Description : {{ desc }}</article>
    
    <h3>Drasseta Aliyyu Darmansyah</h3>
    
    <img src="http://www.about.tarung2017.com/foto/412.jpg" alt="Drasseta's Image">
    
    <article>NPM : {{ npm2 }}</article>
    <article>Age : {{ age2 }}</article>
    <article>College : {{ uni }}</article>
    <article>Major : {{ major2 }}</article>
    <article>Hobby : {{ hobby2 }}</article>
    <article>Description : {{ desc2 }}</article>
    
</body>
</html>
